#.gitignore
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
dist-ssr/

# Local environment and configuration files
*.local
.env

# Editor and OS-specific files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# put this here so each part can have their own .gitignore
frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/dist/
