.date{
    font-family: sans-serif;
    color: #0A0A3A;
    margin-left: 7rem;
}

.list--container{
    border: 1px solid white;
    background-color: #f9f9f9;
    height: 20rem; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: Add some padding */
}

.item--container{
    display: flex;
    justify-content: space-around;

}

.hr-line{
   
    width: 80%; /* Keep the width */
    height: 2px; /* Set a small height for the line */
    border: 0; /* Remove the default border */
    background-color:  #00C48C;
    margin: 10px auto; /* Center the line and add some margin */
      
}

.item-cost{
    color: orange; /* Text color */
    text-shadow: 0 0 2px orange;
}

.items{
    margin-left: 1rem;
}

.item-note{
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 100px;
   
}

.info-text {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 30vh; /* Full viewport height to center vertically in the viewport */
    margin: 0 auto;
}